<div class="container">
  <p></p>
  <table class="table table-bordered table-striped bg-light">
    <thead>
    <tr>
      <th>No</th>
      <th>Date</th>
      <th>mg/dl</th>
    </tr>
    </thead>
    <tbody>
    <%count = 1 %>
    <%@metrics.each do |metric| %>
      <tr>
        <td><%= count %></td>
        <td><%= metric.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= metric.glucose_unit %></td>
      </tr>
      <%count += 1 %>
    <% end %>
    </tbody>
  </table>
  <div class="container">
    <%= will_paginate @metrics,{ "data-remote" => true }%>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      $('.pagination a').attr('data-remote', 'true')
  });
</script>
